/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul {
  list-style-type: none;
}

body {
  font-family: PT Sans, sans-serif;
  font-style: 400;
  list-style-type: none;
}

.contaner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.head {
  height: 118px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0072BC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .head {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
  }
}

.head-fot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head-name {
  margin: 0;
  margin-left: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .head-name {
    font-size: 20px;
    line-height: 12px;
    font-style: 300;
  }
}

@media screen and (min-width: 768px) {
  .head-name {
    font-size: 28px;
    line-height: 18px;
  }
}

.menu-buton {
  display: none;
  margin: 0;
  height: 62px;
  width: 252px;
  background: #F26522;
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 320px) {
  .menu-buton {
    font-size: 20px;
    line-height: 12px;
    font-style: 300;
  }
}

@media screen and (min-width: 768px) {
  .menu-buton {
    font-size: 28px;
    line-height: 18px;
  }
}

.buton-name {
  padding: 0;
  font-family: PT Sans;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;
  /* identical to box height, or 92% */
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FDFAFA;
}

.footer {
  height: 72px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 109% */
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
  background: #fff;
}

.description {
  background: #fff;
}

.inform-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 24px;
  /* identical to box height, or 53% */
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #080808;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .inform-name {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .inform-name {
    font-size: 34px;
    line-height: 26px;
    margin-bottom: 34px;
    margin-top: 28px;
  }
}

.nametwo {
  margin: 0;
}

.inform-par {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  /* or 113% */
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #080808;
  margin-left: auto;
  margin-right: auto;
  max-width: 752px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .inform-par {
    min-width: 100%;
    font-size: 28px;
    line-height: 22px;
    margin-bottom: 34px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .inform-par {
    font-size: 34px;
    line-height: 26px;
    margin-bottom: 40px;
    margin-top: 32px;
  }
}

.propsition {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  /* identical to box height, or 113% */
  max-width: 1200px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: center;
      flex-wrap: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #080808;
  margin: 0;
  margin-bottom: 35px;
}

.pos-cart {
  margin: 0;
  margin-bottom: 41px;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .pos-cart {
    width: 100%;
  }
}

.borderk {
  width: 257px;
  height: 492px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #ACACAC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-right: 13px;
}

.fig > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.fig2 {
  height: 490px;
  width: 100px;
  margin: 0;
}

.cart-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 109% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8E0000;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 13px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cart-name {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .cart-name {
    font-size: 18px;
    line-height: 20px;
  }
}

.cart-descriptio {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.32px;
  margin-bottom: 35px;
  margin-left: 22px;
  margin-right: 20px;
  color: #333333;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cart-descriptio {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .cart-descriptio {
    margin-left: 16px;
    margin-right: 18px;
  }
}

.items {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  /* identical to box height, or 141% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #444444;
  margin-bottom: 27px;
  margin: 81px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .items {
    margin-left: auto;
    margin-right: auto;
  }
}

.zak {
  color: #06811A;
  list-style-type: none;
  text-decoration: none;
}

.slider {
  background: #6DCFF6;
  height: 706px;
  width: 100%;
  margin: 0;
}

.slider-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 53px;
  padding-top: 95px;
  /* identical to box height, or 53% */
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.cont {
  margin-right: 100px;
  margin-right: 100px;
}
/*# sourceMappingURL=main.css.map */