ul
{ 
    list-style-type: none;
}
body {

    font-family: PT Sans, sans-serif;
    font-style: 400;
    list-style-type: none;

    
}
.contaner
  { padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    //width: 1200px;
}
